.card-holder {
    display:inline-block;
}

.card {
    display:inline-block;
    padding-left: 170px;
    justify-content: center;
}

.card-text {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 42px;
    width: 600;
    font-weight: 600;
}