.desc-text {
    font-family: "IBM Plex Sans", sans-serif;
    padding-top: 90px;
    font-size: 39px;
    width: 982px;
    text-align: left;
    margin-top: 21px;
    padding-bottom: 80px;
}

.desc-img {
    height: 902px;
    width: 887px;
    position: absolute;
    z-index: 0;
    top: 890px;
    left: 1511px;
}