.desc-2 {
    background-image: url(photo/Herocyn-Gradient-Texture-Background-5.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    height: 777px;
}

.desc-text-2 {
    font-family: "IBM Plex Sans", sans-serif;
    color: white;
    padding-top: 90px;
    font-size: 39px;
    width: 982px;
    text-align: left;
    margin-top: 21px;
    padding-top: 250px;
}

.desc-img-2 {
    height: 902px;
    width: 887px;
    position: absolute;
    z-index: 0;
    top: 1850px;
    left: 1311px;
    transform: rotate(9deg)
}