body {
    margin: 0;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.container {
    margin: 0px 166px;
}

.header {
    background-image: url(photo/bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-title {
    font-size: 197px;
    color: white;
    font-family: "Mohave", sans-serif;

    padding-top: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.desc-text {
    font-family: "IBM Plex Sans", sans-serif;
    padding-top: 90px;
    font-size: 39px;
    width: 982px;
    text-align: left;
    margin-top: 21px;
    padding-bottom: 80px;
}

.desc-img {
    height: 902px;
    width: 887px;
    position: absolute;
    z-index: 0;
    top: 890px;
    left: 1511px;
}

.desc-2 {
    background-image: url(photo/Herocyn-Gradient-Texture-Background-5.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    height: 777px;
}

.desc-text-2 {
    font-family: "IBM Plex Sans", sans-serif;
    color: white;
    padding-top: 90px;
    font-size: 39px;
    width: 982px;
    text-align: left;
    margin-top: 21px;
    padding-top: 250px;
}

.desc-img-2 {
    height: 902px;
    width: 887px;
    position: absolute;
    z-index: 0;
    top: 1850px;
    left: 1311px;
    transform: rotate(9deg)
}

.card-holder {
    display:inline-block;
}

.card {
    display:inline-block;
    padding-left: 170px;
    justify-content: center;
}

.card-text {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 42px;
    width: 600;
    font-weight: 600;
}